/* line 1, sass/screen.scss */
body {
  background-color: transparent;
  padding-top: 0;
}

/* line 4, sass/screen.scss */
.logo .logoImage {
  background-image: url("images/logo.png");
  background-position: center center;
  background-repead: no-repeat;
  float: left;
  height: 81px;
  margin: 10px 0;
  width: 239px;
}
/* line 13, sass/screen.scss */
.logo .logoText {
  display: none;
}

/*
 * Header
 ********************************************/
/* line 20, sass/screen.scss */
.header-wrapper {
  background: #e5e6e8 url("images/light_noise_diagonal.png");
  border-bottom: 1px solid #ddd;
}

/*
 * Footer
 ********************************************/
/* line 29, sass/screen.scss */
footer {
  color: #777;
  font-size: .8em;
  margin-top: 50px;
}

/* line 35, sass/screen.scss */
.page-header.new-here {
  margin-top: 105px;
}

/* line 39, sass/screen.scss */
body#home.login form.well .form-actions {
  margin-bottom: 0;
}

/* line 45, sass/screen.scss */
.noMargins {
  margin: 0 0 0 0;
}

/* line 47, sass/screen.scss */
.productThumbnail {
  background-color: #ddd;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 110px;
  line-height: 110px;
  width: 110px;
}

/* line 57, sass/screen.scss */
.rightFade {
  background-image: -linear-gradient(right, white, #eeeeee);
  background-image: -moz-linear-gradient(right, white, #eeeeee);
  background-image: -webkit-linear-gradient(right, white, #eeeeee);
}

/* line 65, sass/screen.scss */
body#product.edit .product_record form label,
body#product.view .product_record form label {
  font-weight: bold;
}
/* line 66, sass/screen.scss */
body#product.edit .product_record form label, body#product.edit .product_record form input, body#product.edit .product_record form textarea,
body#product.view .product_record form label,
body#product.view .product_record form input,
body#product.view .product_record form textarea {
  width: 99%;
}
/* line 68, sass/screen.scss */
body#product.edit .product_record form hr,
body#product.view .product_record form hr {
  margin: 10px 0;
}
/* line 71, sass/screen.scss */
body#product.edit .product_record form div.span4 label, body#product.edit .product_record form div.span4 input, body#product.edit .product_record form div.span4 textarea,
body#product.view .product_record form div.span4 label,
body#product.view .product_record form div.span4 input,
body#product.view .product_record form div.span4 textarea {
  width: 97%;
}
/* line 75, sass/screen.scss */
body#product.edit .product_record form div.span6 label, body#product.edit .product_record form div.span6 input, body#product.edit .product_record form div.span6 textarea,
body#product.view .product_record form div.span6 label,
body#product.view .product_record form div.span6 input,
body#product.view .product_record form div.span6 textarea {
  width: 97.5%;
}
/* line 79, sass/screen.scss */
body#product.edit .product_record form table th,
body#product.view .product_record form table th {
  width: 170px;
  vertical-align: middle;
}
/* line 80, sass/screen.scss */
body#product.edit .product_record form table input,
body#product.view .product_record form table input {
  width: 85%;
}

@media (max-width: 767px) {
  /* line 86, sass/screen.scss */
  .page-header.new-here {
    margin-top: 0;
  }

  /* line 91, sass/screen.scss */
  body#admin-product.edit .product_record form table th,
  body#admin-product.view .product_record form table th {
    width: auto;
  }
}
